@media screen and (min-width: 525px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

    .hidden-on-desktop {
        list-style: none;
        text-decoration: none;
        visibility: hidden;
    }

    nav {
        padding-bottom: 2em;
        justify-content: flex-end;
        margin: 0;
    }

    h1 {
        display: flex;
        padding: 0;
        margin: 0 auto;
        justify-content: flex-start;
        float: left;
        align-items: center;
    }

    img {
        display: flex;
        height: 385px;
        width: 675px;
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        padding: 0;
        margin: 0;
        /*background-color: white;*/
    }


    footer {
        display: flex;
        font-size: 1em;
        justify-content: space-between;
        align-items: flex-end;
        clear: both;
    }


    nav .nav-links {

        display: flex;
        flex-direction: row;
        justify-content: end;
    }


    .main {
        float: left;
        width: calc(65% - 1em);
        padding: 1em;
    }

    .sub-section {
        font-style: italic;
        float: right;
        width: calc(35% - 1em);
        padding: 1em;
    }

    .header-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .fa {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: small;
        text-decoration: none;
    }
}

    .alert-info {

        display: flex;
        background-color: #bef6f0;
        border: 1px solid grey;
        justify-content: center;
        align-items: center;
        height: 3em;
        margin: auto;
        font-size: 1em;
    }


    ul {
        list-style: none;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    li {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        margin: .5em 0;
        justify-content: space-around;
        width: 95%;
        height: 2.5em;
        align-items: center;
        font-size: 1em;
    }

    .alert-info a {
        text-decoration: none;
        color: black;
    }

    h1 {
        text-align: center;
        font-size: 3em;
        margin: 10px auto;
    }

    .header-img {
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        flex-direction: row;
        list-style: none;
        margin: auto;
        justify-content: flex-end;
    }

        a {
            display: flex;
            justify-content: flex-end;
        }
        .main {
            text-align: left;
            margin-left: 2.5em;
            width: 60%;
            float: left;
        }

    .sub-section {
        font-style: italic;
    }






